<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script>
    function toggleInputs(selectedName) {
        // 라디오 버튼 값에 따라 각 input 필드 활성화/비활성화
        document.getElementById("firstName").disabled = selectedName.value !== 'first';
        document.getElementById("secondName").disabled = selectedName.value !== 'second';
    }
</script>
<body>
<h2>이름 생성 프로그램</h2>
<div th:insert="~{name/header/header :: copy}"></div>
<h3>이름 생성</h3>
<form action="#" th:action="@{/generation/genName}" method="get">
    <div>
        <label>
            <b th:name="성별">성별</b>
        </label>
        <label>
            <input type="radio" name="gender" value=""
                   th:checked="${selectedGender == ''}"> 전체
        </label>
        <label>
            <input type="radio" name="gender" value="남"
                   th:checked="${selectedGender == '남'}"> 남
        </label>
        <label>
            <input type="radio" name="gender" value="여"
                   th:checked="${selectedGender == '여'}"> 여
        </label>
    </div>
    <div>
        <label>
            <b th:name="성">성</b>
        </label>
        <label>
            <input type="text" name="lastName" th:value="${lastName}"/>
        </label>
    </div>
    <div>
        <label>
            <input type="radio" name="selectedName" value="first"
                   onclick="toggleInputs(this)"
                   th:checked="${selectedName == 'first'}"> 첫번째 이름
        </label>
        <label>
            <input type="radio" name="selectedName" value="second"
                   onclick="toggleInputs(this)"
                   th:checked="${selectedName == 'second'}"> 두번째 이름
        </label>
    </div>
    <div>
        <label>
            <b th:name="이름">(조건부) 첫번째 이름</b>
        </label>
        <label>
            <input type="text" name="firstName" th:value="${firstName}"/>
        </label>
    </div>
    <div>
        <label>
            <b th:name="두번째">(조건부) 두번째 이름</b>
        </label>
        <label>
            <input type="text" name="secondName" th:value="${secondName}"/>
        </label>
    </div>
    <div>
        <label>
            <button type="submit">생성</button>
        </label>
    </div>
</form>
<br>
<table border="1">
    <tr>
        <th>이름</th>
    </tr>
    <tr th:each="name : ${names}">
        <td th:text="${name}">이름</td>
    </tr>
</table>

</body>
</html>