<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>이름 생성 프로그램</h2>
<div th:insert="~{name/header/header :: copy}"></div>
<h3>저장된 이름</h3>
<form action="#" th:action="@{/save/saveName}" method="get">
    <div>
        <label>
            <b th:name="성">이름 저장하기</b>
        </label>
        <label>
            <input type="text" name="saveName" th:value="${saveName}"/>
        </label>
        <label>
            <button type="submit">저장하기</button>
        </label>
    </div>
</form>
<form action="#" th:action="@{/save/removeName}" method="get">
    <div>
        <label>
            <b th:name="성">이름 삭제하기</b>
        </label>
        <label>
            <button type="submit">전체삭제</button>
        </label>
    </div>
</form>
<br>
<table border="1">
    <tr>
        <th>저장한 이름</th>
    </tr>
    <tr th:each="name : ${names}">
        <td th:text="${name}">이름</td>
    </tr>
</table>

</body>
</html>